.booking_Main_Container{
    margin: 4vh 15px;
    background-color: #ffff;
    border-radius: 5px;
    padding: 2% 0;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;

}

.heading_Of_Booking{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 7%;
}

.hotel_list_booking{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(224, 214, 214);
    margin: 0 7%;
    padding: 2% 0;
}

.w4rsd_{
    display: flex;
}

.w4rsd_>img{
    width: 130px;
    height: 100px;
}

.details_of_hotel{
    margin-left: 20px;
}

.details_of_hotel>h2, .details_of_hotel>p, .booking__id>h4,
.final_stat>h4, .final_stat>p{
    margin: 0;
}

.final_stat2>h4, .final_stat2>p{
    margin: 0;
}

.details_of_hotel>p, .final_stat>p{
    padding: 1px 0;
}

.nonr{
    display: none;
}

.final_stat2{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.addReview{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 45vh;
    width: 500px;
    border-radius: 5px;
    background-color: #fbfafa;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.review_headding{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.close_btnd{
    display: flex;
    float:right;
    cursor: pointer;
}

.input_review>p{
    margin: 0;
}

.input_review{
    display: flex;
    flex-direction: column;
    margin: 0 10%;
    margin-top: 3vh;
}

#message{
    padding: 5px;
    outline: none;
    border-radius: 3px;
}

.input_review>button{
    margin-top: 10px;
    height: 6vh;
    font-weight: bold;
    cursor: pointer;
    background-color: #0a124a;
    color: #ffff;
    outline: none;
    border: none;
    border-radius: 4px;
}

.input_review>p{
    font-weight: bold;
}

.review_headding>h3{
    margin: 0;
    padding: 10px 0;
}

