.rightToBook{
    height: fit-content;
    /* background-color: #dcd5d5; */
    width: 36%;
    border: .1px solid #f3dab0;
    border-radius: 5px;
    padding-bottom: 20px;
}

.boltt{
    font-weight: bold;
    font-size: 20px;
}

.hotel__details{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 20px;
}

.hotel__name>h4{
    margin:3px 0;
}

.hotel__name>p{
 margin: 10px 0;
}

.image__act_hotel{
    width: 90px;
    height: 65px;
    border-radius: 5px;
}

.final__dates{
    height: 50px;
    width: 90%;
    margin: 20px 5%;
    background-color: #fdfeff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.final__dates>span{
    display: flex;
    align-items: center;
    margin: 0 20px;
    color: rgb(36, 35, 35);
}

.date_rr{
    margin-left: 15px;
    font-weight: 700;
}