.mailWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #003580;
    
}

.mailContainer{
    width: 100%;
    background-color: #003580;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px 0;
    overflow: hidden;
    max-width: 1208px;
}

.mailContainer>h1{
    margin: 0;
}

.mailInputContainer>input{
    width: 280px;
    height: 30px;
    padding: 5px;
    padding-left: 8px;
    border: none;
    outline: none;
    margin-right: 10px;
    border-radius: 5px;
}

.mailInputContainer>button{
    width: 100px;
    height: 40px;
    padding: 5px;
    font-weight: 500;
    background-color: #0071c2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.email__input{
    color:black;
    font-weight: 600;
}