.signInContainer{
    /* background-color: rgb(246, 247, 247); */
    background-color: #ffffff;
    width: 35%;
    height: fit-content;
    margin:20px 0;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: 0.2px solid rgb(65, 61, 61);
}

.maincon2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeButton{
    color:#7d6969;
    display: inline-block;
    margin:5px;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
}


.right-container{
    background-color: #ffffff;
    width: 50%;
    height: inherit;
}

.error__message{
    margin:0;
    font-weight: 600;
    color: rgb(222, 86, 41);
    font-size: 18px;
    text-align: center;
}

.login_option2{
    /* width: 280px; */
    margin: 10px auto;
    margin-bottom: 20px;
    padding-left: 5px;
}

.login_option2{
    padding: 10px 0;
    text-align: center;
}


