.signInContainer{
    /* background-color: rgb(246, 247, 247); */
    background-color: #ffffff;
    width: 25rem;
    height: fit-content;
    max-height: 100vh;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: 0.2px solid rgb(65, 61, 61);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.maincon{
    /* width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; */
    overflow: hidden;
}

.closeButton{
    color:#7d6969;
    display: inline-block;
    margin:5px;
    height: 30px;
    cursor: pointer;
    font-weight: 500;
    padding: 5px;
}

.action__button{
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.right-container{
    background-color: #ffffff;
    width: 50%;
    height: inherit;
}

.error__message{
    margin:0;
    font-weight: 600;
    color: rgb(222, 86, 41);
    font-size: 13px;
    text-align: center;
}

.login_option2{
    /* width: 280px; */
    margin: 10px auto;
    margin-bottom: 20px;
    padding-left: 5px;
}

.login_option2{
    padding: 10px 0;
    text-align: center;
}


