.reviewPageContainer{
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.reviewPage{
    flex: 1;
    gap: 5px;
    display: flex;
    flex-direction: column;

}

.reviewImage{
    width: 100%;
    height: 250px;
}

.hotelName{
    font-weight: bold;

}

.hotelCity{
    font-weight: 300;
}

.hotelPrice{
    font-weight: 500;
}

.hotelReview>button{
    background-color: #003580;
    color: white;
    border: none;
    padding: 5px;
    margin-right: 10px;
    outline: none;
    font-weight: bold;
}

.hotelReview>span{
    font-style: 14px;
}