.leadingBoardContainer{
    background-color: #F3F5F7;
    width: 100%;
    margin: none;
    margin-top: 30px;
    max-width: 1208px;

}

.itemConn{
    padding: 30px;
   padding-top: 30px; 
   padding-bottom: 50px;
}

.leftConn{
    background-image: url("../../Assets/map2.png");
    /* height: 70vh; */
}

.floatTitle1{
    position: relative;
    right: 45%;
}

.left__Main{
    width: 100%;
}

.china__con{
    float: right;
    position: relative;
    right: 10px;
    top: 40px;
}

.malaysia__con{
    float: right;
    position: relative;
    top: 260px;
    left: 117px;
}

.nepal__con{
    float: right;
    position: relative;
    top: 10px;
    left: 15px;

}

.indian__con{
    float: right;
    position: relative;
    left: 135px;
    top: 225px;
}

.uae__con{
    float: right;
    position: relative;
    bottom: 80px;
    right: 400px;
}

.Indonesia__con{
    float:right;
    position: relative;
    top: 180px;
    left: 30px;
}



