.containerHome{
    margin-top:40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.homeTitle, .reviewTitle{
    width: 1208px;
    font-size: 25px;
    margin: 50px 0%;
}

.banner22>img{
    width: 90%;
    margin: 20px 5%;
    padding-top: 30px;
}

.disable__overlay{
    /* background: rgba(1, 1, 1, 0.5); */
    z-index: 9999;
    pointer-events: none;
    filter: blur(2px);
}

