.navbar{
    height:50px;
    background: rgb(7,45,92);
    background: linear-gradient(90deg, rgba(7,45,92,1) 32%, rgba(37,168,193,1) 76%, rgba(89,194,213,1) 77%, rgba(63,191,207,1) 64%);
    display: flex;
    justify-content: center;
}

.navContainer{
   width: 100%;
   max-width:1024px;
   color: white;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.logo{
    font-weight: 500;

}

.navButton{
    margin-left: 20px;
    border: none;
    padding: 5px;
    width: 100px;
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
    color: white;
    font-weight: 500;
    background-color: #2d3e64;
}