@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap');

.header{
    background-color: rgb(7,45,92);
    color:white;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 0 30px;
}


#bgcImage{
height: 100px;
}
.headerContainer{
    width:100%;
    max-width:1200px;
    margin: 20px 0px 100px 0px;
}

.headerList{
    display:flex;
    gap: 50px;
}

.headerListItem{
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerListItem.active{
    border: 1px solid white;
    padding: 10px;
    border-radius:20px;
}

.headerDesc{
    margin: 20px 0px;
    font-family: 'Lexend Deca', sans-serif;
}

.headerBtn{
    background-color: whitesmoke;
    color: black;
    font-weight: 600;
    border: none;
    padding: 10px 0px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
    width: 160px;
}

.headerBtn2{
    background-color:rgb(7, 122, 236);
    color: rgb(255, 255, 255);
    font-weight: 500;
    border: none;
    padding: 8px;
    cursor: pointer;
    font-size: 17px;
    border-radius: 5px;
    width: 120px;
    transform: scale(1.06);
}

.headerBtn:hover{
    background-color: rgb(247, 244, 244);
    transform: scale(1.06);
    transition: all .1s ease-in-out ;
}

.headerSearch{
    height: 30px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    position: absolute;
    bottom: 25px;
    border-radius: 2px;
    width: 93%;
    max-width: 1180px;
    border: 2px solid rgb(7, 233, 154);
}

.headerIcon{
    color:rgb(158, 156, 156);
}

.headerSearchItem{
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerSearchInput{
    border: none;
    outline: none;
    color: rgb(82, 68, 68);
    font-weight: 600;
    font-size: 16px;
}

.headerSearchItem{
    cursor: pointer;
    padding: 10px;
    color: rgb(82, 68, 68);
    font-weight: 600;
}

.date{
    position: absolute;
    top:45px;
    z-index: 9;
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.54);
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.54);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.54);
    border-radius: 6px
}

.options{
    position:absolute;
    top:44px;
    background-color: #fff;
    color: rgb(82, 68, 68);
    font-weight: 600;
    border-radius: 5px;
    box-shadow: 2px 6px 16px -7px rgba(0,0,0,0.62);
    -webkit-box-shadow: 2px 6px 16px -7px rgba(0,0,0,0.62);
    -moz-box-shadow: 2px 6px 16px -7px rgba(0,0,0,0.62);
    z-index: 10;
}

.optionsItem{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 20px;
    color: rgb(82, 68, 68);
    font-weight: 600;
}

.optionCounter{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 12px;
}

.optionText{
    width: fit-content;
}

.optionCounterBtn{
    width:30px;
    height: 30px;
    cursor: pointer;
    border: 1px solid black ;
    color: rgb(0, 0, 0);
    background-color: gainsboro;
}

.optionHeading{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 15px 25px;
    color: rgb(99, 89, 89);
    font-weight: 500;
    margin-bottom: 20px;
}

.optionCounterNum{
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addHotelContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 20px;
    gap: 10px;
    font-weight: 500;
}

.deleteHotel{
    color:rgb(139, 127, 127);
}

.addHotel{
    color: rgb(82, 68, 68);
    font-weight: 600;
}

.cityLists{
    width: 30%;
    background-color: #ffffff;
    max-height: 40vh;
    position: absolute;
    top: 35px;
    left: 35px;
    z-index: 99999;
    padding: 0;
    padding: 0;
    border: none;
    border-radius: 5px;
    overflow-y: scroll;
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.54);
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.54);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.54);
    border: none;
}

.cityLists::-webkit-scrollbar {
    display: none;
}

.cityLists>li:hover{
    background-color: #f3f1f1;
}

.cityLists> li{
    list-style: none;
    padding:10px 10px;
    margin: 0 5px;
}

.itemDetails{
    font-size: 18px;
    text-transform: capitalize;
    padding-left: 6px;
    padding-bottom: 5px;
    color: #484040;
}

.headerTitle{
    font-family: 'Lexend Deca', sans-serif;
}


