.navbar{
    height:55px;
    display: flex;
    justify-content: center;
    background-color: rgb(7,45,92);
}

.navbar2{
    height:55px;
    top:0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(7,45,92);
    position: fixed;
    z-index: 999999999999999999;
}

.navContainer{
   width: 100%;
   background-color: rgb(7,45,92);
   max-width:1208px;
   color: white;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 30px;
}

.logo{
    font-weight: 600;
    cursor: pointer;
    color: #d1f4f4;
    font-size: 20px;

}

.navButton{
    margin-left: 20px;
    border: none;
    padding: 5px;
    width: 120px;
    border-radius: 5px;
    height: 33px;
    cursor: pointer;
    color: rgb(34, 33, 33);
    font-weight: 600;
    background-color: whitesmoke;
}

.navButton:hover{
    background-color: rgb(247, 244, 244);
    transform: scale(1.06);
    transition: all .1s ease-in ;
}

.profilrPic{
    cursor: pointer;
}