.propertlist{
    width: 95%;
    max-width: 1208px;
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.properyItems{
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    flex: 1;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.propertyImage{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.propertTitles{
    padding: 2px 5px;
}

.propertTitles>h1{
    font-size: 18px;
    margin: 0;
    margin-left: 3px;
    text-transform: capitalize;
}

.propertTitles>h2{
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    margin-left: 3px;
}